$pt-sans: 'PT Sans', 'Trebuchet MS', sans-serif;

// $content-background: #E6DEE5;
// $content-color: #111;
// $body-background: #eee;
// $body-color: #111;

$content-background: #111016;
$content-color: #ddd;
$body-background: #111 url('../images/footer_lodyas_blue.png');
$body-color: #ddd;
