$pt-sans: 'PT Sans', 'Trebuchet MS', sans-serif;

/* Background pattern from subtlepatterns.com */

$content-background: #111016;
$content-color: #ddd;
$body-background: #111 url('../images/footer_lodyas_blue.png');
$body-color: #ddd;
