.copyright
  Copyright &copy;
  :php
    echo date('Y')
  Openclerk

  %br

  Development sponsored by
  %a.cryptfolio{:href => "https://cryptfolio.com"} CryptFolio

  .terms
    %a{:href => "https://cryptfolio.com/terms"} Terms of Service
    \-
    %a{:href => "https://cryptfolio.com/terms#privacy"} Privacy Policy
